@font-face {
  font-family: "Messina Sans Book";
  src: url("MessinaSans-Book.ttf");
  src: local("Messina Sans Book"), local("MessinaSans-Book"),
    url("MessinaSans-Book.woff") format("woff"),
    url("MessinaSans-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Messina Sans";
  src: url("MessinaSans-BlackItalic.ttf");
  src: local("Messina Sans Black Italic"), local("MessinaSans-BlackItalic"),
    url("MessinaSans-BlackItalic.woff") format("woff"),
    url("MessinaSans-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Messina Sans";
  src: url("MessinaSans-SemiBold.ttf");
  src: local("Messina Sans SemiBold"), local("MessinaSans-SemiBold"),
    url("MessinaSans-SemiBold.woff") format("woff"),
    url("MessinaSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Messina Sans";
  src: url("MessinaSans-Black.ttf");
  src: local("Messina Sans Black"), local("MessinaSans-Black"),
    url("MessinaSans-Black.woff") format("woff"),
    url("MessinaSans-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Messina Sans";
  src: url("MessinaSans-Bold.ttf");
  src: local("Messina Sans Bold"), local("MessinaSans-Bold"),
    url("MessinaSans-Bold.woff") format("woff"),
    url("MessinaSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Messina Sans";
  src: url("MessinaSans-SemiBoldItalic.ttf");
  src: local("Messina Sans SemiBold Italic"),
    local("MessinaSans-SemiBoldItalic"),
    url("MessinaSans-SemiBoldItalic.woff") format("woff"),
    url("MessinaSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Messina Sans";
  src: url("MessinaSans-Regular.ttf");
  src: local("Messina Sans Regular"), local("MessinaSans-Regular"),
    url("MessinaSans-Regular.woff") format("woff"),
    url("MessinaSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Messina Sans";
  src: url("MessinaSans-LightItalic.ttf");
  src: local("Messina Sans Light Italic"), local("MessinaSans-LightItalic"),
    url("MessinaSans-LightItalic.woff") format("woff"),
    url("MessinaSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Messina Sans";
  src: url("MessinaSans-BoldItalic.ttf");
  src: local("Messina Sans Bold Italic"), local("MessinaSans-BoldItalic"),
    url("MessinaSans-BoldItalic.woff") format("woff"),
    url("MessinaSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Messina Sans Book";
  src: url("MessinaSans-BookItalic.ttf");
  src: local("Messina Sans Book Italic"), local("MessinaSans-BookItalic"),
    url("MessinaSans-BookItalic.woff") format("woff"),
    url("MessinaSans-BookItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Messina Sans";
  src: url("MessinaSans-RegularItalic.ttf");
  src: local("Messina Sans Regular Italic"), local("MessinaSans-RegularItalic"),
    url("MessinaSans-RegularItalic.woff") format("woff"),
    url("MessinaSans-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Messina Sans";
  src: url("MessinaSans-Light.ttf");
  src: local("Messina Sans Light"), local("MessinaSans-Light"),
    url("MessinaSans-Light.woff") format("woff"),
    url("MessinaSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
